@page "/Goals"


<h3>Goals</h3>

@*This is how to format a comment block*@
@*From tutorial: @inject IcategoryData categoryData and IStatusData*@
@*Feel free to edit this page*@
@*The goal here is to grab the list user goals*@
@*Ideally, it will display the list, can add, and remove items*@

@code {
    private async Task CreateGoals()
    {
        ;
    }
}
