@page "/Goals"
@attribute [Authorize]


@*
@{
    Layout = null;
}
*@

<h3>Goals</h3>

<PageTitle>Goals</PageTitle>


<p role="status">Current count: @all_goal_string</p>


<input id="goalinput" type="text" name=" goalinput" value= ""/>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private int GoalCount = 0;
    private List<string> all_goals = new();
    private string new_goal;
    private string all_goal_string;
    private string goal_input;

    private void IncrementCount()
    {
        GoalCount++;
        //new_goal =  + GoalCount.ToString();
        all_goals.Add(new_goal);
        all_goal_string = "";
        for (int i = 0; i < GoalCount; i++)
        {
            all_goal_string = all_goal_string + all_goals[i] + "\n";
        }
    }
}