@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, this is where you will have the visitors land!</h1>

<p1>Welcome to your new app, put a landing page here with relativant information that can update and change depending on if they are a logged in user or not!</p1>



@code{
    //This section is where you put in the code for the webpage wheil the top is only for HTML, CSS you can use C# and Javascript down here.
}
