@page "/Goals"



<h3>Goals</h3>

<PageTitle>Goals</PageTitle>


<p role="status">Active Goals: @all_goal_string</p>


<button class="btn btn-primary" @onclick="GoRunning">Go Running</button>
<button class="btn btn-primary" @onclick="LiftWeights">Lift Weights</button>



@code {
    private int GoalCount = 0;
    private List<string> all_goals = new();
    private string all_goal_string;
    private bool rungoal = false;
    private bool weightgoal = false;



    private void BuildDisplayString()
    {
        all_goal_string = "";
        for(int i = 0; i < all_goals.Count(); i++)
        {
            all_goal_string = all_goal_string + all_goals[i];
            if (i + 1 < all_goals.Count())
            {
                all_goal_string = all_goal_string + ", ";
            }
        }
    }

    private void GoRunning()
    {
        if(rungoal == false)
        {
            GoalCount++;
            all_goals.Add("Go Running");
            rungoal = true;
        }
        else
        {
            GoalCount--;
            all_goals.Remove("Go Running");
            rungoal = false;
        }
        BuildDisplayString();
    }

    private void LiftWeights()
    {
        if (weightgoal == false)
        {
            GoalCount++;
            all_goals.Add("LiftWeights");
            weightgoal = true;
        }
        else
        {
            GoalCount--;
            all_goals.Remove("LiftWeights");
            weightgoal = false;
        }
        BuildDisplayString();
    }
}