@page "/WorkoutLog"

@*This is an empty page so far, it should display previously entered workouts from a user*@
<h1>Logbook</h1>

<h3> 
    Day 1:
    
</h3>
<h4>
    Cardio
</h4>
<p>
    Run on treadmill for 20 minutes at medium speed.
</p>
<p>
    Use bike for 10 minutes at intervals of 30 seconds on 30 seconds off.
</p>

<h3>
    Day 2:
</h3>
<h4>
    Upper Body
</h4>
<p>
    Bench press: 3 sets of 15 reps, moderate weight
</p>
<p>
    Lateral shoulder raises: 3 sets of 20, light weight
</p>
<p>
    Tricep extensions: 3 sets of 10, heavy weight
</p>
<p>
    Bicep curls: 3 sets of 12, moderate weight
</p>

<h3>
    Day 3:
</h3>
<h4>
    Lower Body
</h4>
<p>
    Front Squat: 3 sets of 8, light weight
</p>
<p>
    Hamstring Curls: 3 sets of 10, moderate weight
</p>
<p>
    Back Squat: 3 sets of 8, heavy weight
</p>

@code {

}
